*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Poppins ;
    background-color: rgba(0, 0, 0, 0.8);
}
.timeline{
    max-width: 1200px;
    margin: 100px auto;
    border: 1px solid blue;
    position: relative;


}
.checkpoint{
 
    padding: 30px 50px;
    width: 50%;
    position: relative;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}
.textbox{
    padding: 20px 30px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    position: relative;
}
.textbox h2{
    font-size: 20px;
}
.checkpoint:nth-child(even){
    left: 50%;
 
}
.checkpoint img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.checkpoint:nth-child(even) img{
    left: -20px;
    z-index: 20;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 50%;
    margin-left: -3px;
    animation: moveline 7s linear forwards;
    z-index: -1;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
    
}
.left-container-arrow{
height: 0;
width: 0;
position: absolute;
top: 20px;
right: -15px;
border-top: 15px solid transparent ;
border-bottom: 15px solid transparent ;
border-left: 15px solid white ;
}
.checkpoint:nth-child(1){
    animation-delay: 0;
}
.checkpoint:nth-child(2){
animation-delay: 1s;
}
.checkpoint:nth-child(3){
    animation-delay: 2s;
}
.checkpoint:nth-child(4){
   animation-delay: 3s; 
}
.checkpoint:nth-child(5){
  animation-delay: 4s;  
}
.checkpoint:nth-child(6){
  animation-delay: 5s;  
}
.checkpoint:nth-child(7){
  animation-delay: 6s;  
}
