@import url('./reset.css');

:root {
    --background-color: rgb(36, 36, 36);
}

body {
    background-color: var(--background-color);
    font-family: Poppins;
    color: rgb(0, 0, 0);
}

#header {
    width: 100%;

}

.navmenu {
   max-width: 1200px;
    margin: 10px auto;
    position: relative;
}

.navmenu nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.4);

}

.navmenu nav .logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navmenu nav .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.navmenu>nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-basis: 50%;
}

.navmenu>nav>ul>li {
    padding: 10px 5px;
}

.navmenu>nav>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: Poppins;
    padding: 5px 10px;
}

.right {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}

.btn-nav {
    padding: 20px 0;


}

button {
    font-size: 22px;
    background-color: green;
    border: 1px solid green;
    border-radius: 8px;
    padding: 9px 16px;
    color: white;
    font-weight: 550;
    cursor: pointer;
    transition: ease-out 0.5s;
}

button:hover {
    transform: scale(1.1);
    transition: ease-in 0.5s;
}


/* -------------Nav Finished------------------ */
.hero-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    

}

.hero-left {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero-right {
    flex-basis: 50%;
    height: 100%;
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.hero-textbox {
    color: white;
    width: 100%;
    text-align: left;
}

.hero-textbox p {
    font-size: 3rem;
    padding-bottom: 15px;
}

.hero-textbox h2 {
    font-size: 3.5rem;
    font-weight: 600;
    padding-bottom: 15px;
}
.hero-textbox h2 .bcolor::first-letter{
    color: red;
    font-size: 3.5rem;
    display: inline-block;
}
.hero-textbox span {
    font-size: 28px;
}



.hero-img-box {
    width: 500px;
    height: 500px;
    background-color: blue;
    border-radius: 0 50%;
    overflow: hidden;
    border: 1px solid rgb(0, 94, 255);

}

.hero-img-box img {
    object-fit: cover;
    max-width: 100%;

}





@media screen and (max-width: 850px) {
   




    /* ---------------Hero Banner-------------- */
    .hero-container {
        flex-direction: column;
    }
    .hero-left {
        flex-basis: 100%;
        width: 100%;
    }
    
    .hero-right {
        flex-basis: 100%;
        height: 500px;
        /* background-color: greenyellow; */
        
    
    }
    
    .hero-textbox {
        color: white;
        width: 100%;
        
        text-align: left;
    }
    
    .hero-textbox p {
        font-size: 1.5rem;
        padding-bottom: 15px;
    }
    
    .hero-textbox h2 {
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 15px;
    }
    
    .hero-textbox span {
        font-size: 14px;
    }
    
    
    
    .hero-img-box {
        height: 75%;
        border-radius: 0 50%;
        overflow: hidden;
    }
    
    .hero-img-box img {
        object-fit: cover;
        max-width: 100%;
    
    }
    
    
}



 #about-me{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading h2{
    font-size: 4rem;
    color: white;
    font-weight: 600;
}
.timeline {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    position: relative;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 50%;
    margin-left: -3px;
    animation: moveline 3s linear forwards;
    z-index: -1;
}


.checkpoint {
    padding: 30px 50px;
    width: 50%;
    position: relative;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

.textbox {
    padding: 20px 30px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    position: relative;

}

.textbox h2 {
    font-size: 20px;
    padding-bottom: 5px;
}

.textbox span {
    margin: 5px 0;
}

.textbox p {
    padding-top: 10px;
    line-height: 1.5;

}

.checkpoint:nth-child(even) {
    left: 50%;

}

.checkpoint img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.checkpoint:nth-child(even) img {
    left: -20px;
    z-index: 20;
}


@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }

}

.arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 20px;
    right: -15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
}

.checkpoint:nth-child(1) {
    animation-delay: 0;
}

.checkpoint:nth-child(2) {
    animation-delay: 1s;
}

.checkpoint:nth-child(3) {
    animation-delay: 2s;
}



 #contact-me {
    border-top: 1px solid white;
    padding: 5rem 0;
    width: 100%;
}

.form-milako {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.form-container {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 60px 20px;
    background-color: #f8ffff;
    border-radius: 8px;
}

.content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 5%;

}

.leftside {
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.leftside::before {
    content: '';
    position: absolute;
    width: 2px;
    background: rgb(171, 171, 171);
    height: 70%;
    top: 15%;
    right: 0;
    z-index: 10;
}

.rightside {
    width: 65%;

}
.address{
  
    border: 1px solid red;
}
.detail{
    width: 100%;
    text-align: center;
    
    margin-bottom: 10%;
    

}
.detail i {
    color: blueviolet;
    font-size: 2.5rem;
    line-height: 1.5;

}

.detail .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.detail a {
    text-decoration: none;
    color: black;
    line-height: 1.5;

}

.detail .text-1,
.detail .text-2 {
    font-size: 14px;
    line-height: 1.5;
}

.rightside .title {
    font-size: 23px;
    font-weight: 550;
}

.rightside .subtitle {
    padding: 15px 0;
    font-size: 16px;
    line-height: 1.5;
}

.input-div {
    width: 100%;
    
}
.input-box{
    width: 100%;
    margin: auto;
    margin-bottom: 15px;

}
input {
    width: 95%;
    padding: 10px 2.5%;
    text-align: left;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #F0F1F8;
    font-family: Poppins;
    outline: none;  
}

textarea {
    outline: none;
    width: 95%;
    padding: 10px 2.5%;
    resize: none;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #F0F1F8;
    font-family: Poppins;
    max-height: 150px;

}
.btn {
    width: 100%;
}
.btn button {
    padding: 9px 16px;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 18px;
    font-family: Poppins;
    border-radius: 8px;
    background-color: #3e2093;
    font-weight: 400;
    cursor: pointer;
    transition: ease-out 0.5s;
}

.btn button:hover {
    background-color: #5029bc;
    transition: ease-in 0.5s;
}

@media screen and (max-width:900px) {
    
    .content-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
    
    }
    .leftside {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px 30px 10px 50px;
        border-top: 1px solid black ;
    } 
   .leftside::before{
    display: none;
   }
   .address{
    flex-basis: calc(100% / 3);
   }
    .rightside {
        width: 100%;
        padding: 10px 30px 10px 50px;
    }
}

@media screen and (max-width:620px) {
    
    .content-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
    
    }
    .leftside {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px;
        border-top: 1px solid black ;
    } 
   .leftside::before{
    display: none;
   }
   .detail{
    margin-bottom: 10px;
   }
    .rightside {
        width: 100%;
        padding: 10px;
    }
}


 
@media screen and (max-width: 950px) {
    .timeline{
        width: 100%;
        margin: 50 auto;
    }
    
    .timeline::after{
        left: 31px;
    }

    .checkpoint{
        width: 100%;
        padding: 0 25px 0 80px;
        margin-bottom: 10px;
    }
   
    .textbox{
        font-size:13px; 
    }
    .checkpoint:nth-child(even){
        left: 0;
    }
    .checkpoint:nth-child(even) img,.checkpoint:nth-child(odd) img{
        left: 10px;
    }
    .checkpoint:nth-child(even) .arrow,.checkpoint:nth-child(odd) .arrow{
        border-right: 15px solid white;
        border-left:0;
        left: -15px;
  
    }
} 
@media screen and (max-width: 500px) {
    .timeline{
        width: 100%;
        margin:auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .timeline::after{
        display: none;
    }

    .checkpoint{
        width: 100%;
        margin-bottom: 10px;
    }
   
    .textbox{
        width: 100%;
        font-size:13px; 
    }
    .checkpoint:nth-child(even){
        left: 0;
    }
    .checkpoint:nth-child(even) img,.checkpoint:nth-child(odd) img{
        left: 10px;
        display: none;
    }
    .checkpoint:nth-child(even) .arrow,.checkpoint:nth-child(odd) .arrow{
      display: none;
  
    }
}  






.hamburger-menu {
    display: none;
}
.mobile-nav {
position: absolute;
padding: 20px 50px;   
right: 0; 
top: 0;
bottom: 0;
background-color: black;
z-index: 4;
max-width: 300px;
width: 100%;
display: none;
}
.mobile-nav ul li{
padding: 15px 0;
}
.mobile-nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: white;
}
@media screen and (max-width: 850px) {
    .navmenu nav ul {
        display: none;
    }
    .navmenu nav{
        justify-content: space-between;
    }

   

    .btn-nav {
        display: none;
    }
   
    .hamburger-menu {
        display: block;
    }
    .show-mobile-menu {
        display: block;
    }
}