@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --golden: #d2b45d;
    /* --golden:rgba(244, 191, 0, 0.8); */
    --dark-black: rgb(0, 0, 0);
    --sec-color-1: #FFF6DE;
    --black: #1c1919;
    --red: rgb(254, 0, 44);
    --blue: rgb(0, 96, 255);
    --service-color: rgba(244, 191, 0, 0.8);
    --white: rgb(255, 255, 255);
    --placeholder: rgba(255, 255, 255, 0.5);
    --mobmenubg: rgba(0, 0, 0, 1);
    --form-color:rgba(157, 154, 151, 0.434);

    --sep: #0e0d0d;
}

body {
    background-color: var(--dark-black);
    font-family: Roboto, Inter sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* Donot Touch */
/* Global */
header {
    background-color: var(--dark-black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 999;
}
/* ****************Desktop Nav***************** */
.desktopcontainer {
    width: 100%;
    display: none;
}
.desktopnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.desktopnav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.desktopnav ul a {
    color: var(--white);
    text-decoration: none;
    padding: 10px 15px;
}
.desktopnav ul a:hover {
    background-color: var(--golden);
}
.mobilecontainer {
    width: 100%;
    padding: 0 15px;
}
.mobilenav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 5rem;
}
.logo img {
    width: 100%;
}
#showGar {
    color: var(--white);
    font-size: 2rem;
}
#hideGar {
    color: var(--white);
    font-size: 2rem;
    display: none;
}
.mobMenu {
    color: var(--white);
    background-color: var(--mobmenubg);
    width: 100%;
    text-align: center;
    bottom: 0;
    display: none;
    animation: mobmenuslider 300ms forwards;
    position: fixed;
    top: 68px;
    bottom: 0;
    z-index: 10;
    padding-top: 30px;
}
@keyframes mobmenuslider {
    0% {
        top: 0px;
        bottom: 100%;
    }
    100% {
        top: 68px;
        bottom: 0;
    }
}
.mobMenu ul li {
    list-style: none;
    line-height: 1.6;
}
.mobMenu ul a {
    font-size: 2rem;
    font-weight: 550;
}
.mobMenu ul a:hover {
    color: var(--golden);
}
/* DONOT TOUCH */
/* Global Ended */

/* ----------------Hero Section------------------ */
.hero {
    width: 100%;
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../images/sonam.webp);
    background-position: top center;
    background-size: cover;
}
.hero-text {
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-text h2 {
    font-size: 3rem;
    color: var(--white);
    font-weight: 600;
    text-align: left;
    line-height: 1.3;
}
span {
    color: var(--golden);
}
.aptBtn {
    border: none;
    background-color: var(--golden);
    color: var(--white);
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 550;
    margin-top: 30px;
}
/* *****************
        Services
****************** */
.container {
    padding: 1rem 0;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark-black);
}
.globalHead {
    font-size: 2rem;
    padding: 20px 0;
    font-weight: 550;
    text-align: center;
    color: var(--golden);
}
.serviceBoxWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}
.icon img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.globalTitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--golden);
}
.globalPara {
    width: 100%;
    text-align: center;
    padding: 20px 15px;
    line-height: 1.6;
    color: var(--white);
}
.serviceBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding: 50px 0;
    transition: 0.3s all;
    margin: 10px 0;
    border: 1px solid var(--dark-black);
    border: 1px solid var(--black);
}
.serviceBox:hover {
    transition: 0.3s all;
    cursor: pointer;
    border: 1px solid var(--black);
    box-shadow: 2px 2px 5px 5px var(--sep);
}
.globalBtn {
    background-color: var(--golden);
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    color: var(--white);
    transition: 0.2s all;
}
.globalBtn:hover {
    background-color: var(--service-color);
    transition: 0.2s all;
}
.indicators {
    padding-top: 20px;
}
.indicators a {
    font-size: 20px;
    color: var(--golden);
    padding: 20px 5px 0;
}
/* ************************
        Gallery
************************** */


/* **************
Contact Us
*************** */
.contactform{
    width: 90%;
}
.formphoto{
    display: none;
}
fieldset{
    width: 100%;
    padding: 1.2rem 0;
}
.formfields{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
}
legend{
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;
}
input,textarea{
    width: 90%;
   align-items: center;
    padding: 15px;
    resize: vertical;
    margin: 0.8rem 0;
    font-size: 18px;
    color: var(--white);
    border: none;
    border-bottom: 2px solid var(--golden) ;
    background:transparent;
    outline: none;
    transition: 0.3s all;
}
textarea{
    
    height: 150px;
}
input:focus{
    border: 1px solid var(--sec-color-1);
}
textarea:focus{
    border: 1px solid var(--sec-color-1);
}
.checktnc{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}
#check{
    width: 3%;
    height: 15px;
}
label{
    color: var(--white);
    width: 95%;
}
label a{
    color: var(--golden);
    font-size: 16px;
}
.formbutton{
    color: var(--white);
    background-color: var(--golden);
    font-size: 22px;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
}
/* **************
Footer
*************** */
footer {
    background-color: var(--dark-black);
    width: 100%;
    color: white;
    padding: 10px 0;
}

.footerone {
    width: 80%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 3rem 0;
    margin: auto;
}

.infopack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.infopack-text {

    line-height: 1.6;
    font-size: 22px;
}

.infopack-text h4 {
    text-align: center;
}

.infopack-text a {
    text-decoration: none;
    color: var(--golden);
}

.socialmedia {
    padding: 2rem 0;
}

.socialmedia h3 {
    font-size: 22px;
    font-weight: 200;
    line-height: 2;
}

.socialicons {
    padding-top: 10px;
}

.socialicons a {
    font-size: 2.5rem;
    color: var(--white);
    text-decoration: none;
    padding-right: 20px;
}

.socialicons a:hover {
    color: var(--golden);
    transition: all 0.3s;
}

.footlogo {
    width: 40%;
}

.footlogo img {
    width: 100%;
}

.openinghours {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.openinghours h3 {
    font-size: 22px;
    padding-bottom: 2rem;
    font-weight: 550;
}

.openinghours p {
    font-size: 20px;
    font-style: italic;
    padding-top: 20px;
    color: var(--golden);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.wrapper ul {
    list-style: none;
}

.wrapper ul li {
    font-size: 18px;
    line-height: 1.6;
}


.globalParaFoot {
    width: 100%;
    text-align: center;
    padding: 0 15px;
    line-height: 1.6;
    color: var(--white);
}

.globalParaFoot i {
    color: var(--service-color);
}



/* **************
    Services
*************** */
.servicerow1{
    width: 100%;
    background-color: var(--black);
    padding: 69px 0;
}
.serviceinnerrow{
    width: 90%;
    margin: auto;

}
.content{
color: var(--white);
width: 100%;
padding: 2rem 0;
}
.content h4{
    font-size: 20px;
    text-align: center;
    color: var(--golden);
    font-weight: 500;
    line-height: 1.6;
}
.content p{
    padding: 10px 0;
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    font-size: 16px;
}

.servicerow2{
    background-color: var(--dark-black);
    width: 100%;
}

/*******************************
        About US
*******************************/
.banner {
    width: 100%;
    background-color: var(--black);
    display: flex;
    align-self: center;
    margin-top: 68.8px;
    justify-content: center;
    flex-direction: column;
}

.bannercontent {
    width: 30%;
    margin: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 20px 0;
}

.bannerlogo img {
    width: 100%;
}

.bgouter {
    background-color: var(--dark-black);
    width: 100%;

}

.bginner {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


}

.row1 {
    flex-basis: 100%;
}

.row1 img {
    width: 20%;
}

.row1-photo {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.row1-photo img {

    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.abouttitle {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--white);
}

.abouttitle span {
    color: var(--golden);
}

.abouttext {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--white);
    padding: 15px 0;
    font-style: italic;

}

/* ----------------Story--------------- */
.storyouter {
    background-color: var(--black);
    width: 100%;
}

.storyinner {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 3rem 0;

}

.row2 {
    width: 100%;
    margin: auto;
}

.storytitle {
    color: var(--golden);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;

}

.storysubtitle {
    color: var(--white);
    text-align: center;
}

.story {
    font-style: italic;
    color: var(--white);
    text-align: justify;
}

/* -----------------Team--------------- */
.teamouter {
    width: 100%;
    background-color: var(--dark-black);

}

.teaminner {
    width: 100%;
    margin: auto;
    padding: 3rem 0;
}

.teamtitle {
    color: var(--golden);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.globalhead {
    font-size: 2rem;
    /* padding: 15px 0; */
    font-weight: 550;
    text-align: left;
    color: var(--golden);
}
.globalsubtitle{
    color: var(--white);
    font-size: 18px;
}
.row3 {
    width: 80%;
    margin: auto;
}

.team {
    color: var(--white);
    font-size: 1rem;
    font-style: italic;
    text-align: justify;
}

.teampicouter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5%;

}

.owner {
    width: 80%;
}

.management {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5%;
}

.management>div {
    flex-basis: 45%;
    height: 280px;
    /* padding: 20px 0; */
}

.management>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.teamname {
    font-size: 1.2rem;
    color: var(--white);
}

.teamrole {
    font-size: 0.8rem;
    color: var(--golden);
}

.barbers {
    width: 80%;
    padding: 3rem 0;
}

.staff {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5%;
}

.staff>div {
    flex-basis: 45%;
    height: 280px;
    /* padding: 20px 0; */
}

.staff>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* ------------------Visit--------------- */
.visitouter {
    background-color: var(--golden);
    width: 100%;
}

.visitinner {
    /* max-width: 600px; */
    margin: auto;
    width: 80%;
    padding: 3rem 0;
}

.row4 {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.visittitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: var(--black);
}

.visitsubtitle {
    padding: 15px 0;
    text-align: justify;
}

.visitbtn {
    background-color: var(--golden);
    box-shadow: 2px 2px 3px 2px var(--sec-color-1),
        1px 1px 2px var(--sec-color-1);
}


/* **************************
***************************
            Contact Us
******************************
*******************************/
.contactbg{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../images/9.jpg);
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.contactbgtext{
    font-size: 2.5rem;
    color: var(--golden);
    text-align: center;
    padding: 6rem 0 0;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.hiringouter{
    background-color: var(--black);
    width: 100%;
    padding: 3rem 0;
}
.hiringinner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5%;
    padding: 0 20px;
}
.hiringtext{
width: 100%;
margin: auto;
padding-bottom: 2rem;
}
.hiringphoto{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.hiringphoto img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.hiringhead{
    color: var(--golden);
    font-weight:600;
    font-size: 2.5rem;
}
.hiringsubtitle{
    color: var(--white);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: Roboto;
    padding: 10px 0;
}
.hire{
    color: var(--white);
    line-height: 1.6;
    text-align: left;
    font-size: 15px;
}
.hiringform{
    width: 80%;
}

/* **************************
*****************************
        Media Query
******************************
******************************/
/* For Tablet above 850px */

@media screen and (min-width: 850px) {
    .mobilecontainer {
        display: none;
    }
    .desktopcontainer {
        display: flex;
    }
    header {
        background-color: var(--dark-black);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0; 
    }
    .desktopcontainer {  
        margin: auto;
    }
    .desktopnav {
        width: 90%;
        margin: auto;
        gap: 20px;
    }
    .hero {
        padding: 50px 0;
    }
    .hero-text {
        align-items: flex-start;
        padding-left: 5%;
    }
    .serviceBoxWrapper {
        width: 100%;
        flex-direction: row;
        gap: 2%;
        max-width: 1200px;
        margin: auto;
    }
    .container {
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }
    .serviceBox {
        flex-basis: 49%;
    }
    .galleryflex{
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .galleryflex > div{
        flex-basis: 48%;
    }
    .contactform{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    form,.formphoto{
        flex-basis: 48%;
    }
    .formphoto{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .formphoto img{
        width: 100%;

    }
    .footerone {
        width: 90%;
        flex-direction: row;
        gap: 2%;
    }
    .infopack {
        flex-basis: 49%;
    }
    .openinghours {
        flex-basis: 49%;
    }

    .socialmedia {
        text-align: left;
    }

    .bginner {
        flex-direction: row;
        padding: 5px 10px;
    }

    .row1 {
        padding-right: 15px;
    }

    .row1-photo {
        width: 80%;
    }

    .management {
        flex-direction: row;
        padding: 20px 0;
    }

    .staff {
        flex-direction: row;
        padding: 20px 0;
    }

}

/* Responsive for screen above 1150px */

@media screen and (min-width: 1150px) {
    .showmenu {
        display: none;
    }

    .desktopcontainer {
        display: block;
    }

    header {
        background-color: var(--dark-black);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
    }

    .desktopcontainer {
        margin: auto;
    }

    .desktopnav {
        max-width: 1500px;
        width: 90%;
        margin: auto;
        gap: 20px;
    }

    .hero {
        padding: 50px 0;
    }

    .hero-text {
        align-items: flex-start;
        padding-left: 15%;
    }

    .serviceBoxWrapper {
        width: 100%;
        flex-direction: row;
        gap: 5%;
    }

    .container {
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }

    .serviceBox {
        flex-basis: 49%;
    }
    .galleryflex{
        flex-direction: row;
        gap: 1.25%;
        flex-wrap: wrap;
    }
    .galleryflex > div{
        flex-basis: 24%;
        height: 350px;
        overflow: hidden;
        box-sizing: border-box;
    }
  
    .footerone {
        width: 90%;
        flex-direction: row;
        gap: 2%;
    }

    .infopack {
        flex-basis: 49%;
    }

    .openinghours {
        flex-basis: 49%;
    }

    .socialmedia {
        text-align: left;
    }
}

